.admin-container {
    width: auto;
    // height: 900px;
    margin: 10px;
    border: 1px solid #555;
    background-color: rgb(223, 223, 223);
    color: black;
}

.admin-sidebar{
    background-color: white;
}